<!DOCTYPE html>
<!-- import content from parent fragment  -->
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <!-- using ~{::script} we can pass all script tag-->

  <head>
    <title th:text="${loggedInUser.name}+' | SCM'">Profile Page</title>
  </head>
  <body>
    <div id="content">
<!-- sidebar  -->
   <!-- if user logged in : sidebar  -->
    <div th:if="${loggedInUser}">
      <div th:replace="~{user/sidebar :: sidebar}"></div>
    </div>




      <div style="height: 1000px" class="sm:pl-64 pt-16">
        <h1 class="text-5xl">welcome to Profile page</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
          dicta?
        </p>
      </div>
    </div>
    <script>
      console.log("this is profile page");
    </script>
  </body>
</html>
