<!DOCTYPE html>
<!-- import content from parent fragment  -->
    <html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">  <!-- using ~{::script} we can pass all script tag-->

<head>
    <title>About Page</title>
</head>
<body>
    <div id="content">
        <h1>welcome to about page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, dicta?</p>
    </div>
    <script>
        console.log("about page script 1");
    </script>
    <script>
        console.log("about page script 2");
    </script>
</body>
</html>