<!DOCTYPE html>
<!-- import content from parent fragment  -->
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <!-- using ~{::script} we can pass all script tag-->

  <head>
    <title>contact us Page</title>
  </head>
  <body>
    <div id="content">
      <h1>welcome to contact us page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
        dicta?
      </p>
    </div>
    <script>
      console.log("contact us page script 1");
    </script>
  </body>
</html>
